.home-container {
  max-width: 60rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.home-menu {
  display: flex;
  justify-content: center;
}

.home-item{
  cursor: pointer;
  padding: 2rem;
}

.home-item:hover {

}

.form-container {
  min-height: auto;
  margin-top: 3rem;
}
.item-list > div {
  padding: 1rem;
}
.active {
  font-weight: 700;
}

.home-content-item {
  margin-top: 4rem;
  text-align: center;
}

.home-content-item > div {
  padding-bottom: 3rem;
}
