<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Order Confirmation</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>

    <h1>Your order has been received</h1>
  
    <!---Order Details message-->
    <div>You will be receiving a confirmation email with order details shortly.</div>

    <div>Thank You!</div>
   

  </body>
</html>
